// import { firestoreService, FirestoreService } from './firestore.service';

// import { ITattooerDTO } from '../dto/tattooer.dto';


// export class TattooersService {
//   private firestore: FirestoreService = firestoreService;

//   public async findAll(): Promise<ITattooerDTO[]> {
//     const tattooers = await this.firestore.getAll<ITattooerDTO>('tattooers');

//     return tattooers;
//   }

//   public async getOne(tattooerId: string): Promise<ITattooerDTO | null> {
//     const tattooer = await this.firestore.getOne<ITattooerDTO>('tattooers', tattooerId);

//     return tattooer;
//   }

//   public async findQuery(queries: ({ key: string, value: string } | { array: string, value: string[] })[]): Promise<ITattooerDTO[]> {
//     const tattooers = await this.firestore.getQuery<ITattooerDTO>('tattooers', queries);

//     return tattooers;
//   }
// }

// export const tattooersService = new TattooersService();
